#getUserInfo {
    margin-left: 20px;
    margin-top: 10px;
}


#edit-user-container{
    margin-bottom: 40px;
}

#updateUserInfoBtn {
    margin-bottom: 0px;
}

#user-info-action-alert{
    margin-top: 10px;
}